<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>唐卡历史</title>


    <!-- Fonts URL -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700%7CPlayfair+Display:400,500,600,700,800,900%7CWork+Sans:300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/hover-min.css">
    <link rel="stylesheet" href="/css/muzex-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">


</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div><!-- /.preloader -->
    <div class="page-wrapper">

        <nav class="main-nav-one stricky main-nav-one__home-two">
            <div class="container">
                <div class="inner-container">
                    <div class="logo-box">
                        <a href="/resource/index">
                            <img src="/images/team/logo-2.png" alt="" width="160">
                        </a>
                        <a href="#" class="side-menu__toggler"><i class="muzex-icon-menu"></i></a>
                    </div><!-- /.logo-box -->
                    <div class="main-nav__main-navigation">
                        <ul class="main-nav__navigation-box">
                            <li >
                                <a href="/resource/index">首页</a>
                            </li>
                            <li class="dropdown">
                                <a href="/resource/about">介绍</a>
                                <ul>
                                    <li><a href="/resource/toAbout">历史</a></li>
                                    <li><a href="/resource/toMembership">科普</a></li>
                                    <li><a href="/resource/toVenue">流派</a></li>
                                    <li><a href="/resource/toEvent2">绘制</a></li>
                                    <li><a href="/resource/toEvent1">装裱</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">唐卡类别</a>
                                <ul>
                                    <li><a href="/resourceClassType/toAllType">全部类型</a></li>
                                    <li><a href="/resource/resourceListMain">唐卡网格</a></li>
                                </ul>
                            </li>
                        </ul><!-- /.main-nav__navigation-box -->
                    </div><!-- /.main-nav__main-navigation -->
                    <div class="main-nav__right">
                        <a href="#" class="search-popup__toggler"><i class="muzex-icon-search"></i></a>
                    </div><!-- /.main-nav__right -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </nav><!-- /.main-nav-one -->

        <section class="page-header" style="background-image: url(/images/backgrounds/home-1.jpg);">
            <div class="container">
                <h2>关于唐卡</h2>
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="about-four">
            <div class="container">
                <div class="about-four__image wow fadeInRight" data-wow-duration="1500ms">
                    <img src="/images/resources/history-1.jpg" alt="">
                </div><!-- /.about-four__image -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-four__content">
                            <div class="block-title">
                                <p>唐卡</p>
                                <h3>唐卡艺术</h3>
                            </div><!-- /.block-title -->
                            <div class="about-four__highlite-text">
                                <p>唐卡是藏族文化中一种独具特色的绘画艺术形式。被称为藏族的”百科全书”也是中华民族民间艺术中弥足珍贵的非物质文化遗产。</p>
                            </div><!-- /.about-four__highlite-text -->
                            <p>传统唐卡的绘制要求严苛、程序极为复杂，必须按照经书中的仪轨及上师的要求进行，包括绘前仪式、制作画布、构图起稿、着色染色、勾线定型、铺金描银、开眼、缝裱开光等一整套工艺程序。</p>
                            <p>唐卡的起源学术界观点不一，主要有四种观点</p>
                        </div><!-- /.about-four__content -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.about-four -->

        <section class="history-one">
            <img src="/images/shapes/history-1-sculp.png" class="history-one__sculp" alt="">
            <div class="container">
                <div class="block-title-two text-center">
                    <p>时间线</p>
                    <h3>唐卡的历史</h3>
                </div><!-- /.block-title-two -->
                <div class="history-one__single">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="history-one__image wow fadeInLeft" data-wow-duration="1500ms">
                                <img src="/images/history/history-01.jpg" alt="">
                            </div><!-- /.history-one__image -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6 d-flex">
                            <div class="history-one__content my-auto">
                                <div class="history-one__top block-title">
                                    <p>说法1</p>
<!--                                    <h3>The Archive Gallery</h3>-->
                                </div><!-- /.history-one__top block-title -->
                                <p>唐卡是随佛教由印度传来的绘画形式。由意大利学者杜齐提出。他认为唐卡源于印度古老宗教布画“钵陀”，随佛教传入西藏。钵陀与汉地绘画不同主要在于画布，汉地绘画多为纸和绢，钵陀则以棉布为底，这与唐卡画布一致。此外，唐卡绘画中曼荼罗画为正方形画布、佛像画画布长宽比例为4:3，这都与钵陀相同。</p>
                            </div><!-- /.history-one__content -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div><!-- /.history-one__single -->
                <div class="history-one__single">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="history-one__image wow fadeInRight" data-wow-duration="1500ms">
                                <img src="/images/history/history-02.jpg" alt="">
                            </div><!-- /.history-one__image -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6 d-flex">
                            <div class="history-one__content my-auto">
                                <div class="history-one__top block-title">
                                    <p>说法2</p>
<!--                                    <h3>Moving in New Home</h3>-->
                                </div><!-- /.history-one__top block-title -->
                                <p>由中国学者谢继胜提出，唐卡受中原绘画的影响产生。他在《唐卡的起源》一文中指出：“唐卡这种艺术形式本身并非来自印度，实际上他的发展演变过程从汉唐至宋元的中原汉地卷轴画的形成演变过程相一致，发源于蕃汉交往密切的敦煌，沿着佛教绘画的轨迹，由吐蕃旗幡画演变而成”。</p>
                            </div><!-- /.history-one__content -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div><!-- /.history-one__single -->
                <div class="history-one__single">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="history-one__image wow fadeInLeft" data-wow-duration="1500ms">
                                <img src="/images/history/history-03.jpg" alt="">
                            </div><!-- /.history-one__image -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6 d-flex">
                            <div class="history-one__content my-auto">
                                <div class="history-one__top block-title">
                                    <p>说法3</p>
<!--                                    <h3>Art & Science Events</h3>-->
                                </div><!-- /.history-one__top block-title -->
                                <p>五世达赖喇嘛阿旺罗桑嘉措所著的《释迦牟尼·水晶宝镜》书中所载：法王松赞干布用自己的鼻血绘制了一幅吉祥天母女神像，在蔡巴万户长时期，果竹西活佛看到了这幅女神像，将此作为装藏，放在神像里了。此为西藏学术界对于唐卡起源之说.</p>
                            </div><!-- /.history-one__content -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div><!-- /.history-one__single -->
                <div class="history-one__single">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="history-one__image wow fadeInRight" data-wow-duration="1500ms">
                                <img src="/images/history/history-04.jpg" alt="">
                            </div><!-- /.history-one__image -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6 d-flex">
                            <div class="history-one__content my-auto">
                                <div class="history-one__top block-title">
                                    <p>说法4</p>
<!--                                    <h3>Art Gallery Showcasing</h3>-->
                                </div><!-- /.history-one__top -->
                                <p>唐卡是由西藏本土宗教苯教布画继承发展而来。苯教僧侣实用便携布画以便传教布道，后被佛教所用。</p>
                            </div><!-- /.history-one__content -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div><!-- /.history-one__single -->
            </div><!-- /.container -->
        </section><!-- /.history-one -->

        <section class="video-one text-center" style="background-image: url(/images/resources/home-1.jpg);">
            <div class="container">
                <a href="https://www.youtube.com/watch?v=hO1tzmi1V5g" class="video-popup video-one__btn"><i class="fa fa-play"></i></a><!-- /.video-popup video-one__btn -->
            </div><!-- /.container -->
        </section><!-- /.video-one -->

        <footer class="site-footer">
<!--            <div class="site-footer__upper">-->

<!--            </div>&lt;!&ndash; /.site-footer__upper &ndash;&gt;-->
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="inner-container">
                        <p>&copy; Copyright 2021 Visualization Institute All Rights Reserved</p>
                        <a href="/resource/index" class="site-footer__bottom-logo">
                            <img src="/images/team/logo-1.png" alt="">
                        </a>
                        <div class="site-footer__bottom-links">
                            <a href="#">Terms & conditions</a>
                            <a href="#">Privacy policy & Terms of use</a>
                        </div><!-- /.site-footer__bottom-links -->
                    </div><!-- /.inner-container -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__bottom -->
        </footer><!-- /.site-footer -->
    </div><!-- /.page-wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- /.search-popup__inner -->
    </div><!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- Template JS -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/isotope.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/TweenMax.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery.lettering.min.js"></script>
    <script src="/js/jquery.circleType.js"></script>

    <!-- Custom Scripts -->
    <script src="/js/theme.js"></script>
</body>

</html>