<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>唐卡装裱</title>

    <!-- Fonts URL -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700%7CPlayfair+Display:400,500,600,700,800,900%7CWork+Sans:300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/hover-min.css">
    <link rel="stylesheet" href="/css/muzex-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">


</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div><!-- /.preloader -->
    <div class="page-wrapper">


        <nav class="main-nav-one stricky main-nav-one__home-two">
            <div class="container">
                <div class="inner-container">
                    <div class="logo-box">
                        <a href="/resource/index">
                            <img src="/images/team/logo-2.png" alt="" width="160">
                        </a>
                        <a href="#" class="side-menu__toggler"><i class="muzex-icon-menu"></i></a>
                    </div><!-- /.logo-box -->
                    <div class="main-nav__main-navigation">
                        <ul class="main-nav__navigation-box">
                            <li >
                                <a href="/resource/index">首页</a>
                            </li>
                            <li class="dropdown">
                                <a href="/resource/about">介绍</a>
                                <ul>
                                    <li><a href="/resource/toAbout">历史</a></li>
                                    <li><a href="/resource/toMembership">科普</a></li>
                                    <li><a href="/resource/toVenue">流派</a></li>
                                    <li><a href="/resource/toEvent2">绘制</a></li>
                                    <li><a href="/resource/toEvent1">装裱</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">唐卡类别</a>
                                <ul>
                                    <li><a href="/resourceClassType/toAllType">全部类型</a></li>
                                    <li><a href="/resource/resourceListMain">唐卡网格</a></li>
                                </ul>
                            </li>
                        </ul><!-- /.main-nav__navigation-box -->
                    </div><!-- /.main-nav__main-navigation -->
                    <div class="main-nav__right">
                        <a href="#" class="search-popup__toggler"><i class="muzex-icon-search"></i></a>
                    </div><!-- /.main-nav__right -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </nav><!-- /.main-nav-one -->

        <section class="page-header" style="background-image: url(/images/backgrounds/home-1.jpg);">
            <div class="container">
                <h2>装裱</h2>
            </div><!-- /.container -->
        </section><!-- /.page-header -->


        <section class="event-two event-two__event-1-page">
            <div class="container">
                <div class="event-two__single">
                    <div class="row">
                        <div class="col-lg-5 wow fadeInLeft" data-wow-duration="1500ms">
                            <div class="event-two__image">
                                <div class="event-two__image-inner">
                                    <img src="/images/event/event-1.jpg" alt="">
                                </div><!-- /.event-two__image-inner -->
                            </div><!-- /.event-two__image -->
                        </div><!-- /.col-lg-5 -->
                        <div class="col-lg-7 d-flex">
                            <div class="my-auto">
                                <div class="event-two__content">

                                    <p>首先在唐卡的画心四周先镶牙子意为：红黄色彩虹，指唐卡的牙子以红黄两色为主，其实其色彩搭配相当自由，并不受此局限，甚至有不用牙子的情况）。牙子有红黄妆缎牙子、月白片金五色牙子、红片金牙子、红黄绿洋锦牙子、红黄片金牙子、镶红片金牙子、万寿灯笼锦牙子等多层多色彩的，所以藏文称为彩虹。有时也用单层锦缎牙子，称为大牙子，这是一种简化形式。牙子外面是镶边。在牙子与镶边接合处以白小线缝合，在镶边最外也有白线或红白小线缝边，这两道线几乎成为宫中唐卡装裱的标志。镶边分为天池、地玉、左侧幅、右侧幅四部分。镶边相当于汉地绘画的裱工，用料讲究，有红蓝洋锦边、素洋锦、杂色锦、西番莲片金缎边、镶龙石青片金边、织金缎等，越是重要的唐卡用料越是名贵。对于有祝寿含义的唐卡则用大红云龙片金缎边、石青寿字缎或大红寿字缎平裱，以烘托主题。如墨刻六世班禅源流的唐卡即用此料。在标准的西藏唐卡中，地边正中还缝一块绵缎。这块绵缎大小不一，或方或长，形状不一，藏文中称唐门，是唐卡标志性的装饰物。宫中唐卡，除特意仿藏式之外，基本不采用这种装饰。宫中所藏西藏进贡的唐卡往往因为装裱粗糙而拆去旧边，再用宫中材料重新装裱，所以宫中的一些“番画”唐卡其装裱与宫中唐卡完全一致。
                                    </p>

                                </div><!-- /.event-two__content -->

                            </div><!-- /.my-auto -->
                        </div><!-- /.col-lg-7 -->
                    </div><!-- /.row -->
                </div><!-- /.event-two__single -->
                <div class="event-two__single">
                    <div class="row">
                        <div class="col-lg-5 wow fadeInLeft" data-wow-duration="1500ms">
                            <div class="event-two__image">
                                <div class="event-two__image-inner">
                                    <img src="/images/event/event-2.jpg" alt="">
                                </div><!-- /.event-two__image-inner -->
                            </div>
                        </div><!-- /.col-lg-5 -->
                        <div class="col-lg-7 d-flex">
                            <div class="my-auto">
                                <div class="event-two__content">

                                    <p>装裱完成之后就是装卷杆和楣杆。在藏文里，这两个杆名称都一样为thang shing，意为：唐木或唐杆。但是从实物看二者有着明显的区别。卷杆（10）装在地玉下端，圆柱形，略长出唐卡两侧幅边，杆头安轴头（11 thang tog）。楣杆（9）装在天池的上端，为宽扁形或扁圆形木片，两端与天池两边齐平，或稍长出，藏式做法，以皮革包首，宫中鲜有采用。宫中唐卡卷杆和楣杆的用材有白檀香木、紫檀木、杉木等，前二者材料最为名贵。轴做工也十分讲究，有铜、银、紫檀木、铜镀金、银间镀金等质地。作为卷杆的装饰物，紫檀木轴头多是素面蘑菇状；银质、铜质轴头上多有錾花或敖其里（蒙文“金刚杵”之义）图案，或嵌珊瑚、松石、小珍珠和青金石等小珠为装饰。
                                    </p>

                                </div><!-- /.event-two__content -->

                            </div><!-- /.my-auto -->
                        </div><!-- /.col-lg-7 -->

                    </div><!-- /.row -->
                </div><!-- /.event-two__single -->
                <div class="event-two__single">
                    <div class="row">

                        <div class="col-lg-5 wow fadeInLeft" data-wow-duration="1500ms">

                            <div class="event-two__image">
                                <div class="event-two__image-inner">
                                    <img src="/images/event/event-3.jpg" alt="">
                                </div><!-- /.event-two__image-inner -->
                            </div><!-- /.event-two__image -->
                        </div><!-- /.col-lg-5 -->
                        <div class="col-lg-7 d-flex">
                            <div class="my-auto">
                                <div class="event-two__content">

                                    <p>唐卡面上还要罩一层佛帘（thang-vdzar，或译为：唐帘）作为唐卡的装饰。这一部分是缝在唐卡的楣杆下方，长及卷杆，以五色哈达或五色锦缎为之。西藏佛帘多由二片、三片互相叠压组成不同，而宫中所装软薄佛帘，多以一块整织物做成，少有分成数片的情况。佛帘既是一种装饰也是一种保护唐卡的重要部分。佛帘外面，缝有两条彩带，垂至卷杆处，其底端呈鸟喙形，故称为“乌嘴”（bya-kha）。类似于汉地绘画装裱中的“惊燕”。
                                    </p>

                                </div><!-- /.event-two__content -->

                            </div><!-- /.my-auto -->
                        </div><!-- /.col-lg-7 -->


                    </div><!-- /.row -->
                </div><!-- /.event-two__single -->

                <div class="event-two__single">
                    <div class="row">
                        <div class="col-lg-5 wow fadeInLeft" data-wow-duration="1500ms">
                            <div class="event-two__image">
                                <div class="event-two__image-inner">
                                    <img src="/images/event/event-4.jpg" alt="">
                                </div><!-- /.event-two__image-inner -->
                            </div><!-- /.event-two__image -->
                        </div><!-- /.col-lg-5 -->
                        <div class="col-lg-7 d-flex">
                            <div class="my-auto">
                                <div class="event-two__content">

                                    <p>楣杆上端钉有两个挂钩，每个挂钩各带一铁圈，由生铁打造而成。清宫中多用铁鋄金赶珠圈或铁鋄银赶珠圈，圈上各系一根花绦子。另外，圈上也有系高丽纸签的情况，其内容较唐卡后面的白绫签稍略。当唐卡悬挂供奉时，两根绦子互相系扣，作挂绳之用。唐卡收卷好以后，两花绦子用于系紧唐卡使用，其长度以绕卷起唐卡两圈为限。绦子多以五色交杂粗麻线编成，系紧后不易松开，且经磨耐用，加之色彩多样，与唐卡的色彩相配，成为宫中唐卡的特色之一。此外，以红色绸带作绦子的情况也较常见。以粗线作挂绳的情况则多见于西藏所贡入的唐卡上。
                                    </p>

                                </div><!-- /.event-two__content -->

                            </div><!-- /.my-auto -->
                        </div><!-- /.col-lg-7 -->
                    </div><!-- /.row -->
                </div><!-- /.event-two__single -->

            </div><!-- /.container -->
        </section><!-- /.event-two -->

        <footer class="site-footer">

            <div class="site-footer__bottom">
                <div class="container">
                    <div class="inner-container">
                        <p>&copy; Copyright 2021 Visualization Institute All Rights Reserved</p>
                        <a href="/resource/index" class="site-footer__bottom-logo">
                            <img src="/images/team/logo-1.png" alt="">
                        </a>
                        <div class="site-footer__bottom-links">
                            <a href="#">Terms & conditions</a>
                            <a href="#">Privacy policy & Terms of use</a>
                        </div><!-- /.site-footer__bottom-links -->
                    </div><!-- /.inner-container -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__bottom -->
        </footer><!-- /.site-footer -->
    </div><!-- /.page-wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- /.search-popup__inner -->
    </div><!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- Template JS -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/isotope.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/TweenMax.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery.lettering.min.js"></script>
    <script src="/js/jquery.circleType.js"></script>

    <!-- Custom Scripts -->
    <script src="/js/theme.js"></script>
</body>

</html>