<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>唐卡类型</title>


    <!-- Fonts URL -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700%7CPlayfair+Display:400,500,600,700,800,900%7CWork+Sans:300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/hover-min.css">
    <link rel="stylesheet" href="/css/muzex-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">


</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div><!-- /.preloader -->
    <div class="page-wrapper">


        <nav class="main-nav-one stricky main-nav-one__home-two">
            <div class="container">
                <div class="inner-container">
                    <div class="logo-box">
                        <a href="/resource/index">
                            <img src="/images/team/logo-2.png" alt="" width="160">
                        </a>
                        <a href="#" class="side-menu__toggler"><i class="muzex-icon-menu"></i></a>
                    </div><!-- /.logo-box -->
                    <div class="main-nav__main-navigation">
                        <ul class="main-nav__navigation-box">
                            <li >
                                <a href="/resource/index">首页</a>
                            </li>
                            <li class="dropdown">
                                <a href="/resource/about">介绍</a>
                                <ul>
                                    <li><a href="/resource/toAbout">历史</a></li>
                                    <li><a href="/resource/toMembership">科普</a></li>
                                    <li><a href="/resource/toVenue">流派</a></li>
                                    <li><a href="/resource/toEvent2">绘制</a></li>
                                    <li><a href="/resource/toEvent1">装裱</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">唐卡类别</a>
                                <ul>
                                    <li><a href="/resourceClassType/toAllType">全部类型</a></li>
                                    <li><a href="/resource/resourceListMain">唐卡网格</a></li>
                                </ul>
                            </li>
                        </ul><!-- /.main-nav__navigation-box -->
                    </div><!-- /.main-nav__main-navigation -->
                    <div class="main-nav__right">
                        <a href="#" class="search-popup__toggler"><i class="muzex-icon-search"></i></a>
                    </div><!-- /.main-nav__right -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </nav><!-- /.main-nav-one -->

        <section class="page-header" style="background-image: url(/images/backgrounds/home-1.jpg);">
            <div class="container">
                <h2>唐卡网格</h2>
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <div class="collection-grid">
            <div class="container">
                <div class="collection-grid__top" id="type-div">
                    <div class="block-title-two text-center">
                        <p>唐卡</p>
                        <h3>探索 <br> 系列</h3>
                    </div><!-- /.block-title-two -->
                    <ul class="collection-filter list-unstyled" id="list-type">
                        <li data-filter=".filter-item" onclick="window.location='/resource/resourceListMain'"><span>所有唐卡</span></li>
                    </ul><!-- /.collection-filter list-unstyled -->
                </div><!-- /.collection-grid__top -->
                <div class="row high-gutter filter-layout" style="max-height: 10000px; height: 950px;" id="list-resource">

                </div><!-- /.row -->
                <div id="demo7" style="text-align: center; position: relative;"></div>
            </div><!-- /.container -->
<!--                <div id="demo7" style="text-align: center; position: relative; margin-top: 20px;"></div>-->
        </div><!-- /.collection-grid -->


        <footer class="site-footer">

            <div class="site-footer__bottom">
                <div class="container">
                    <div class="inner-container">
                        <p>&copy; Copyright 2021 Visualization Institute All Rights Reserved</p>
                        <a href="/resource/index" class="site-footer__bottom-logo">
                            <img src="/images/team/logo-1.png" alt="">
                        </a>
                        <div class="site-footer__bottom-links">
                            <a href="#">Terms & conditions</a>
                            <a href="#">Privacy policy & Terms of use</a>
                        </div><!-- /.site-footer__bottom-links -->
                    </div><!-- /.inner-container -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__bottom -->
        </footer><!-- /.site-footer -->
    </div><!-- /.page-wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- /.search-popup__inner -->
    </div><!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- Template JS -->
    <script type="text/html" id="demo">
        {{# layui.each(d.data,function(index,item){}}
        <div class="col-lg-4 col-md-6 filter-item dis">
            <div class="collection-grid__single">
                <div class="collection-grid__image">
                        <img src="{{item.uploadpath}}" alt="" onclick="window.location='/resource/getDetail?id={{item.id}}'">
                </div><!-- /.collection-grid__image -->
                <div class="collection-grid__content">
                    <h3><a href="/resource/getDetail?id={{item.id}}">{{item.resourcename}}</a></h3>
                </div><!-- /.collection-grid__content -->
            </div><!-- /.collection-grid__single -->
        </div><!-- /.col-lg-4 -->
        {{# }); }}
    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/isotope.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/TweenMax.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery.lettering.min.js"></script>
    <script src="/js/jquery.circleType.js"></script>
    <script src="/js/layui/layui.js"></script>
    <!-- Custom Scripts -->
    <script src="/js/theme.js"></script>
    <script>
        layui.use(['laypage', 'layer', 'laytpl'], function(){
            var laypage = layui.laypage
                ,$ = layui.$
                ,laytpl = layui.laytpl
                ,layer = layui.layer;
            //获取类型列表
            $.ajax({
                url:'/resourceClassType/getTypeList',
                success:function(res){
                    var data = res.data;
                    for (i in data) {
                        var j = Number(i) + Number(1);
                        if(j == [[${resourceTypeId}]]){
                            $(".list-unstyled").append('<li class="active" data-filter=".pic" id="' + data[i].id + '" onclick="window.location=\'/resource/toType?id=' + data[i].id + '\'"><span>' + data[i].typename + '</span></li>');
                        }else{
                            $(".list-unstyled").append('<li data-filter=".pic" id="' + data[i].id + '" onclick="window.location=\'/resource/toType?id=' + data[i].id + '\'"><span>' + data[i].typename + '</span></li>');
                        }
                    }
                }
            });
            //分页
            laypage.render({
                elem: 'demo7'
                ,count: [[${count}]]
                ,limit: 6
                ,layout: ['count', 'prev', 'page', 'next']
                ,jump: function(obj){
                    renderPage(obj.curr, obj.limit);
                }
            });
            function renderPage(curr,limit){
                var html = demo.innerHTML;
                var listCont = document.getElementById('list-resource');
                $.ajax({
                    url: "/resource/getResourceListByType",
                    data: {page:curr,limit:limit, id:[[${resourceTypeId}]]},
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        console.log(data)
                        listCont.innerHTML = renderHtml(html,data)
                    },
                    error:function(data){

                    }
                });
            }
            function renderHtml(htmlTemplate, data){
                var template    = laytpl(htmlTemplate),
                    result      = template.render(data);
                return result;
            }
        });
    </script>
</body>
</html>