
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>
        修改类型信息
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script type="text/javascript" src="/lib/loading/okLoading.js"></script>
    <link rel="stylesheet" href="/css/main.css" media="all">
</head>
<style>
    .imgs{display: none;}
    .picture{display: none;}
</style>
<body>
<div class="x-body" id="myModal">
    <form class="layui-form" id="editForm1" lay-filter="editForm1">
        <input type="hidden" name="id" value="">
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>类型名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="typename" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="link" class="layui-form-label">
                <span class="x-red">*</span>资源文件
            </label>
            <div class="layui-input-inline">
                <div class="site-demo-upbar">
                    <div class=" layui-upload-button" style="border:#FFFFFF ;">
                        <button type="button" class="layui-btn" id="test1">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                        <input class="layui-upload" type="file" accept="undefined" id="uploadInput" name="uploadInput" onchange="upload(this,)">
                        <input id="uploadpath"   name="uploadpath" required="" type="hidden"  value="">
                    </div>

                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="text" class="layui-form-label">
                <span class="x-red">*</span>详情介绍
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="introduction" required="" lay-verify=""
                       autocomplete="off" class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="editClass" lay-submit="editClass">
               确认修改
            </button>
        </div>
    </form>
</div>
<script src="../static/js/layui/layui.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/x-layui.js" charset="utf-8"></script>
<script>
    let data;

    function child(_data){
        data = _data;
        console.log('data',data)
        layui.use(['layer','form'], function(){

            $ = layui.jquery;
            let
                layer = layui.layer,
                form = layui.form;
            okLoading.close($);
            if (data && form){
                form.val("editForm1", {
                    "id": data.id
                    ,"typename": data.typename
                    ,"uploadpath": data.uploadpath
                    ,"introduction": data.introduction
                });
            }

            //监听提交
            form.on('submit(editClass)', function(data){
                var admindate=$("#editForm1").serialize();
                console.log("表格数据");
                console.log(admindate)
                var layer = layui.layer;
                $.ajax({
                    type:'post',
                    url:"/resourceClassType/updateClass",
                    data:admindate,
                    datatype:"json",
                    success:function (data) {
                        console.log("添加返回值"+data)
                        if(data==1){
                            layer.msg("更新成功",{icon:1,time:1000});
                            setTimeout(function(){
                                window.parent.location.reload();
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            },1000);
                            return false;
                        }else{
                            layer.msg("更新失败",{icon:5,time:2000});return false;
                        }
                    }
                })
                return false;
            });



        });
    }
    console.log('layui',layui)




</script>
<script>
    //上传
    function upload(obj,id){
        // 将获取到的文件添加到FormData中
        var formData = new FormData();
        var layer = layui.layer;
        formData.append('file', $('#uploadInput')[0].files[0]);
        // 输出提示
        layer.msg('图片上传中', {icon: 16});
        $.ajax({
            type:"post",
            processData: false,
            contentType: false,
            url:"/upload/file",
            data:formData,
            success:function(data){
                if(data.code == 0){
                    console.log(data.uploadpath);
                    layer.closeAll('loading');
                    layer.msg("上传成功",{icon:1,time:1000});
                    $("#uploadpath").val(data.uploadpath);
                    return false;
                }else{
                    layer.msg("上传失败",{icon:2,time:1000});
                }
            }
        });
    }
</script>

</body>

</html>